@using BlogLibrary;
@using WebApplication.ViewModels;
@model HomeViewModel;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @*<h2 class="bg-dark text-light">Half Way To Mediocre</h2>*@
    @Html.Partial("_TagList", Model, ViewData)
    <div class="row">
        <div class="col-md-1"> </div>
        <div class="col-md-10">
            <div>
                <h3 class="text-danger">@Model.BlogPost.BlogPostTitle</h3>
                @foreach (Author author in Model.Authors)
                {
                    if (@author.AuthorId == @Model.BlogPost.AuthorId)
                    {
                        <h6>@author.AuthorName</h6>
                    }
                }
            </div>
            <div>
                <h6>@Model.BlogPost.PostDate.ToLongDateString()</h6>
            </div>
            <hr />
            <div>
                @Html.Raw(@Model.BlogPost.BlogText)
            </div>

            <hr />
        <a asp-controller="Home" asp-action="Index"> Latest Blogs</a>
            <div class="row">
                @for (int i = 0, j = 0; i < 4 && i < (Model.BlogPosts.Count - 1); i++)
                {
                    if (Model.BlogPosts[j].BlogPostId == Model.BlogPost.BlogPostId)
                    {
                        j++;
                    }
                    <div class="col-3">
                        @{var imgUrl = Model.SiteUrl + Model.BlogPosts[j].ImageUrl; }
                        <a href="@(Url.Action("Details", new { id = Model.BlogPosts[j].BlogPostId }))">
                            <img class="img-fluid mainpage-image" src="@imgUrl" />
                            <h5 class="image-caption">@Model.BlogPosts[j].BlogPostTitle</h5>
                        </a>

                    </div>
                    j++;
                }
                <div class="col-1"> </div>

            </div>
            <div>
                @foreach (BlogTagApplied blogTagApplied in Model.BlogTagsApplied)
                {
                    if (@blogTagApplied.BlogPostId == @Model.BlogPost.BlogPostId)
                    {
                        foreach (BlogTag blogTag in Model.BlogTags)
                        {
                            if (@blogTagApplied.BlogTagId == blogTag.BlogTagId)
                            {
                <div class="row">
                    <div class="col-12">
                        <a asp-controller="Home" asp-action="Index" asp-route-tagId="@blogTag.BlogTagId">@blogTag.BlogTagName Blogs</a>
                    </div>
                       @{ List<BlogPost> BlogPostsOfTag = new List<BlogPost>();
                        int blogCount = 0;
                        foreach (BlogTagApplied bta in Model.BlogTagsApplied)
                        {
                            if (bta.BlogTagId == blogTagApplied.BlogTagId)
                            {
                                blogCount++;
                                if (blogCount < 5)
                                {
                                    BlogPost bp = Model.BlogPosts.Find(x => x.BlogPostId == bta.BlogPostId);
                                    <div class="col-3">
                                        @{var imgUrl = Model.SiteUrl + bp.ImageUrl; }
                                        <a href="@(Url.Action("Details", new { id = bp.BlogPostId }))">
                                            <img class="img-fluid mainpage-image" src="@imgUrl" />
                                            <h5 class="image-caption">@bp.BlogPostTitle</h5>
                                        </a>
                                    </div>
                                }
                            }
                        }
                    }
                </div>
                            }
                        }
                    }
                }
            </div>
        </div>
    </div>
    <div class="col-md-1"> </div>
</div>

