@using BlogLibrary;
@using WebApplication.ViewModels;
@model HomeViewModel;
@{
    ViewData["Title"] = "Home Page";
}
@Html.Partial("_TagList", Model, ViewData)
<div class="text-center">
    <div class="row">
        <div class="col-8">
            <img class="img-fluid" src="https://localhost:44381/images/HalfwayToMediocreGraphic.png" alt="image not found" />
            <h4>@Model.CategoryName</h4>
        </div>
        <div class="col-4">
            <img class="img-fluid" src="https://localhost:44381/images/FamilyPhoto.jpg" alt="image not found" />
            <label>We are Dave Strauss and Sandra Patton, founders and Editors of Halfway to Mediocre </label>
        </div>
        <hr />
        @*@foreach (BlogPost blogPost in Model.BlogPosts)
        {
            <div class="col-4 mt-2 mb-2">
                <div class="article-link pt-1 pb-1 mr-1 ml-1">
                    @{var imgUrl = "https://localhost:44381/" + blogPost.ImageUrl; }
                    <a href="@(Url.Action("Details", new { id = blogPost.BlogPostId }))">
                        <img class="img-fluid mainpage-image" src="@imgUrl" />
                        <h5 class="image-caption">@blogPost.BlogPostTitle</h5>
                    </a>
                </div>
            </div>
        }*@
        @for (var i = 0; i < 6; i++)
        {
            <div class="col-4 mt-2 mb-2">
                <div class="article-link pt-1 pb-1 mr-1 ml-1">
                    @{var imgUrl = "https://localhost:44381/" + Model.BlogPosts[i].ImageUrl; }
                    <a href="@(Url.Action("Details", new { id = Model.BlogPosts[i].BlogPostId }))">
                        <img class="img-fluid mainpage-image" src="@imgUrl" />
                        <h5 class="image-caption">@Model.BlogPosts[i].BlogPostTitle</h5>
                    </a>
                </div>
            </div>
        }


    </div>
</div>

