@using BlogLibrary;
@using WebApplication.ViewModels;
@model HomeViewModel;
@{
    ViewData["Title"] = "Home Page";
}
@Html.Partial("_TagList", Model, ViewData)
<div class="text-center">
    <div class="row">
        <div class="col-8">
            @{var mainGraphic = Model.SiteUrl + "images/HalfwayToMediocreGraphic.png"; }
            <img class="img-fluid" src=@mainGraphic alt="image not found" />
            @{var categoryName = ""; }
            @if (Model.BlogTag == null)
            {
                categoryName = "All Blogs";
            }
            else
            {
                categoryName = Model.BlogTag.BlogTagName + " Blogs";
            }

            <h4>@categoryName</h4>
        </div>
        <div class="col-4">
            <a asp-area="" asp-controller="Home" asp-action="About">
                @{var familyImg = Model.SiteUrl + "images/FamilyPhoto.jpg"; }
                <img class="img-fluid" src=@familyImg alt="image not found" />
                <label>Welcome to Halfway to Mediocre!</label>
            </a>
        </div>
        <hr />
        @for (var i = 0; i < 6 && i < (Model.BlogPosts.Count - (6*Model.PageNum)); i++)
        {
            var j = i + (6 * Model.PageNum);
            <div class="col-4 mt-2 mb-2">
                <div class="article-link pt-1 pb-1 mr-1 ml-1">
                    @{var imgUrl = Model.SiteUrl + Model.BlogPosts[j].ImageUrl; }
                    <a href="@(Url.Action("Details", new { id = Model.BlogPosts[j].BlogPostId }))">
                        <img class="img-fluid mainpage-image" src="@imgUrl" />
                        <h5 class="image-caption">@Model.BlogPosts[j].BlogPostTitle</h5>
                    </a>
                </div>
            </div>
        }

    </div>
    @{ var blogTagId = 0;} 
    @if(Model.BlogTag != null)
    {
        blogTagId = Model.BlogTag.BlogTagId;
    }
    <div class="row">
        <div class="col-5"> </div>
        <div class="col-1">
            @if (Model.PageNum > 0)
            {
             <a href="@Url.Action("Index", new { tagId = blogTagId, pageNum = Model.PageNum -1 }))" class="btn text-center">&#x2190;</a>
            }
        </div>
        <div class="col-1">
            @if (Model.BlogPosts.Count > ((6 * Model.PageNum) + 6))
            {
                <a href="@(Url.Action("Index", new { tagId = blogTagId, pageNum = Model.PageNum +1 }))" class="btn text-center">&#x2192;</a>
            }

        </div>
        <div class="col-5"></div>
    </div>
</div>



